.addBtn {
    padding: 5px;
    border-radius: 5px;
}

input {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

form div{
    margin: 20px;
    left: 0;
    position: absolute;
}